---
interface Props {
  id: string;
  width?: string;
  height?: string;
  aspectRatio?: string;
  preset?: string;
}

const {
  id,
  width = "100%",
  height,
  aspectRatio = "16/9",
  preset,
} = Astro.props;

import queryString from "query-string";

const iframeSrc = `/sketch/${id}?${queryString.stringify({ preview: 1, preset })}`;
const linkUrl = `/sketch/${id}?${queryString.stringify({ preset })}`;
---

<figure>
  <div class="relative max-w-none" style={{ width, height, aspectRatio }}>
    <iframe
      id={id}
      width="100%"
      height="100%"
      src={iframeSrc}
      style={{ frameborder: 0 }}
    >
    </iframe>
  </div>
  <p class="text-right"><a href={linkUrl} target="_blank">Open sketch ↗</a></p>
</figure>
